@CHARSET "UTF-8";

body {
	padding-left: 20px;
}

table {
	/* 枠線 */
	border-collapse: collapse;
	border-right: 1px solid #999;
	margin-bottom: 15px;
}

table th {
	/* 内部余白 */
	padding: 10px;
	/* 枠線 */
	border-top: 1px solid #fff;
	border-right :1px solid #fff;
	/* 文字色 */
	color: #fff;
	/* 文字表示 */
	text-align: center;
	vertical-align: top;
	/* 背景色 */
	background-color:#3366cc;
}

table td {
	/* 内部余白 */
	padding: 6px;
	/* 枠線 */
	border: 1px solid #999;
	/* 背景色 */
	background-color: #fff;
}


.top th {
	background-color:#3366cc;
	color:#ffffff;
	text-align; center;
}

#search-button {
	margin-top:5px;
}

 p {
	margin-top: 4px;
	margin-bottom: 8px;
}

.BacktoList {
	margin-top: 20px;
}

#form > input,select {
	margin-top:5px;
	margin-bottom: 5px;

}

#commit {
	margin-right :10px;
}

#new_add {
	margin-right: 10px;
}